ul.social-networks {
  list-style: none;
  display: inline-grid;
  grid-gap: 1rem;
}

.social-network-link {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 1ch;
  align-items: center;
}

.seegno-logo {
  fill: currentColor;
  color: #08e5bc;
  max-width: 400px;
}
